<div class="flex flex-col items-center mb-10 absolute top-10 left-1/2 -translate-x-1/2 md:relative md:top-0 md:left-0 md:translate-x-0">
  <div class="relative w-[47px] h-[35px] mb-5">
    <img src="assets/icon/lion.svg" class="absolute top-0 left-0 w-[47px] h-[35px]" alt="" />
  </div>

  <div class="flex items-center justify-center gap-2 bg-[var(--color-badge-bg)] rounded-[200px] px-6 py-2 h-8 shadow-[0px_2px_19px_rgba(0,0,0,0.1)]">
    <img src="assets/icon/maji.svg" alt="MAJI" class="h-[9px] w-auto" />
    <span class="text-xs text-[var(--color-dark-text)] leading-none">{{ badgeText }}</span>
  </div>
</div>

<h1 class="font-normal text-[var(--color-main-text)] mb-6 leading-[1] lg:leading-[80px] max-w-[800px] whitespace-pre-line text-[40px] md:text-[70px]">
  {{ title }}
</h1>
<p class="text-sm text-[var(--color-main-text)] mb-[60px] max-w-[600px] px-5 md:text-2xl md:px-0 mx-auto">
  {{ subtitle }}
</p>

